/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input, select, textarea, button {
    outline: none !important;
}


.flex {
  display: flex;
}
.home-page-container .welcome {
  width: 100%;
  height: 450px;
  background: url("../../assets/img/aurora-borealis-desktop-backgrounds-europe-1933239.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.home-page-container .welcome .title-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
  align-items: center;
  justify-content: center;
}
.home-page-container .welcome .title-bg .title {
  display: inline-block;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px 25px;
  border-radius: 3px;
  cursor: pointer;
}
.home-page-container .welcome .title-bg .title:hover {
  background-color: rgba(10, 10, 10, 0.5);
  transition: ease-in-out 0.1s;
}
.home-page-container .welcome .title-bg .title h1 {
  color: rgb(255, 255, 255);
}
.home-page-container .hot-product-container .hot-list {
  flex-direction: row;
  height: 300px;
}
.home-page-container .hot-product-container .hot-list .hover-effect {
  background-color: rgba(10, 10, 10, 0.5);
  height: 100%;
  align-items: center;
  justify-content: center;
  opacity: 0;
  cursor: pointer;
}
.home-page-container .hot-product-container .hot-list .hover-effect a {
  color: rgb(240, 240, 240);
  font-size: 22px;
  text-decoration: unset;
}
.home-page-container .hot-product-container .hot-list .hover-effect:hover {
  transition: 0.1s ease-in-out;
  opacity: 0.8;
}
.home-page-container .hot-product-container .hot-list .list-one {
  width: 30%;
  background: url("../../assets/img/city-ferris-wheel-harbor-2031726.jpg");
  background-position: center;
  background-size: cover;background-attachment: fixed;
}
.home-page-container .hot-product-container .hot-list .list-two {
  width: 70%;
  background: url("../../assets/img/architecture-boats-buildings-1796731.jpg");
  background-position: center;
  background-size: cover;
}
.home-page-container .slo {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 300px;
  background: url("../../assets/img/blue-sky-clouds-daylight-1448736.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.home-page-container .slo .slo-effect {
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.6);
  line-height: 65px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home-page-container .slo .slo-effect a {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 35px;
  text-decoration: unset;
}
.home-page-container .slo .slo-effect a:hover {
  background-color: rgb(206, 166, 89);
  transition:all 0.5s ease 0s;
  color: rgb(50, 50, 50);
  transform: scale(1.1);
}
.home-page-container .footer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: rgb(230, 230, 230);
  line-height: 30px;
}